<polymer-element name="<%= name %>">
  <template>
    <link rel="stylesheet" href="<%=  name %>/<%= name %>.css">

    <h2><%= file_name.capitalize.gsub('_', ' ') %></h2>
  </template>

  <script src="<%= name %>/<%= name %>.js">
</polymer-element>
